* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main#container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 425px;
}

.principal {
    width: 100%;
    text-align: center;
}

.principal h1 {
    text-align: left;
    font-size: 20px;
    color: #262626;
    padding: 10px;
    font-family: sans-serif;
}

.principal h1 span {
    color: #C4170C;
}

.principal h2 {
    text-align: left;
    font-family: "Liberation Sans Serif";
    font-size: 14px;
    font-weight: 200px;
    color: #262626;
    padding: 10px;
}

.principal h3 {
    text-align: left;
    font-family: "Liberation Sans Serif";
    font-size: 14px;
    font-weight: 200px;
    color: #262626;
    padding: 0 0 0 10px;
}

.principal h3 span {
    color: #C4170C;
}

.principal h4 {
    text-align: left;
    font-family: "sans-serif";
    font-size: 14px;
    font-weight: 200px;
    color: #262626;
    padding: 0 0 0 10px;
}

.area_video {
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

footer.footer {
    padding: 100px 0;
    background: #f0f0f0;
    margin: 20px 0 0 0;
}

.footer p {
    font-size: 12px;
    color: #000000;
    text-align: center;
    width: 50%;
    margin: 0 auto 15px auto;
}

.footer a {
    clear: both;
    display: block;
    text-align: center;
    margin: 0;
    color: gray;
    font-size: 12px;
}

.mestreCarousel {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel {
    position: fixed;
    display: flex;
}

.carousel-inner {
    display: flex;
    animation: scroll 10s linear infinite normal;
}

.carousel-item {
    padding: 50px;
    flex: 0 0 auto;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 5)); }
}